0jet/batch_files/*
1jet/batch_files/*
2jet/batch_files/*

0jet/batch_files_DYHT/*
1jet/batch_files_DYHT/*
2jet/batch_files_DYHT/*

0jet/TMVA_BDT_DY_best/*
1jet/TMVA_BDT_DY_best/*
2jet/TMVA_BDT_DY_best/*

0jet/TMVA_BDT_DYHT_best/*
1jet/TMVA_BDT_DYHT_best/*
2jet/TMVA_BDT_DYHT_best/*

0jet/TMVA_BDT_DYHT_training/*
1jet/TMVA_BDT_DYHT_training/*
2jet/TMVA_BDT_DYHT_training/*

0jet/TMVA_BDT_DY_training/*
1jet/TMVA_BDT_DY_training/*
2jet/TMVA_BDT_DY_training/*

0jet/temp/*
1jet/temp/*
2jet/temp/*

0jet/TMVA_BDT_DY_trial/*
1jet/TMVA_BDT_DY_trial/*
2jet/TMVA_BDT_DY_trial/*

0jet/BDTPARAMS_DYHTWWTo2L2Nu.npy
1jet/BDTPARAMS_DYHTWWTo2L2Nu.npy
2jet/BDTPARAMS_DYHTWWTo2L2Nu.npy

0jet/BDTPARAMS.npy
1jet/BDTPARAMS.npy
2jet/BDTPARAMS.npy

0jet/TMVA_BDT_DY_.root
1jet/TMVA_BDT_DY_.root
2jet/TMVA_BDT_DY_.root